<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>

<body id="page-top">
  <h1>App Task</h1>
      <!-- <a  href="/{{d.id}}">Home</a> -->
       
  <table bor  der="1">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Task</th>  
        <th scope="col">Status</th>
      </tr>
    </thead>
  <tbody>
    <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.status}}</td>
    </tr>
  </table>
  
</body>

</html>