{% extends "base.html" %}


{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1 class="m-0">Tampilan Pelanggan</h1>
    </div>
  </div>
    <!-- <a  href="/{{d.id}}">Home</a> -->
    
  <div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" action="" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                  <label for="usr">Nama Task</label>
                  <input type="text" name="name" class="form-control" value="{{data.name}}">
                  <input type="text" name="telp" value="{{data.telp}}" class="form-control mt-2"><br>
                  <input type="text" name="seri" value="{{data.seri}}" class="form-control mt-2"><br>
                  <input type="text" name="status" value="{{data.status}}" class="form-control mt-2"><br>
                  <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                </div>
            </form>
        </div>
    </div>
  </div>        
</div>
{% endblock %}