<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="page-top">
  <h1>App</h1>

  <div class="form-group">
    <label for="usr">Tambah Task</label>
    <input type="text">
  </div>
  <button type="button" class="btn btn-primary">Simpan</button><br><br>
  <table border="1">
  <thead>
      <tr>
      <th>No</th>
      <th>Task</th>
      <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr>
      <td>1</td>
      <td>Task 1</td>
      <td><button type="button" class="btn btn-success">Detail</button>
        <button type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger">Hapus</button></td>
      </tr>
      <tr>
      <td>2</td>
      <td>Task 2</td>
      <td><button type="button" class="btn btn-success">Detail</button>
        <button type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger">Hapus</button></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Task 3</td>
        <td><button type="button" class="btn btn-success">Detail</button>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Hapus</button></td>
        </tr>
  </tbody>
  </table>
  
</body>

</html>