{% extends "base.html" %}


{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1 class="m-0">Update Data Servis</h1>
    </div>
  </div>
    <!-- <a  href="/{{d.id}}">Home</a> -->
    
  <div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" action="" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                  <label for="usr">Nama Task</label>
                  <input type="text" name="nama" class="form-control" value="{{data.nama}}"><br>
                  <label for="usr">Nomor Telepon</label>
                  <input type="text" name="telpon" value="{{data.telpon}}" class="form-control mt-2"><br>
                  <label for="usr">Kota</label>
                  <input type="text" name="kota" value="{{data.kota}}" class="form-control mt-2"><br>
                  <label for="usr">Status</label>
                  <input type="text" name="statuses" value="{{data.statuses}}" class="form-control mt-2"><br>
                  <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                </div>
            </form>
        </div>
    </div>
  </div>        
</div>
{% endblock %}