{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1 class="m-0">Servis</h1>
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-sm">
          <div class="col text-right">
            <a class="btn btn-primary" href="tambah/">Tambah</a>
          </div>
        </div>
    </div>

    <div class="table-responsive mt-3">
      <table class="table table-hover table-striped">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>  
          <th scope="col">Nomor Telepon</th>
          <th scope="col">Country</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>

        {% for d in data %}
        <tr>
          <!-- <th scope="row">{{forloop.counter}}</th> -->
          <th scope="row">{{forloop.counter}}</th>
          <!-- <td>{{d.id}}</td> -->
          <td>{{d.nama}}</td>
          <td>{{d.telpon}}</td>
          <td>{{d.kota}}</td>
          <td>{{d.statuses}}</td>
          <td>
              <a  class="btn btn-sm btn-success" href="{{d.id}}/view-home">Detail</a>
              <a  class="btn btn-sm btn-warning" href="{{d.id}}/edit-home">Edit</a>
              <a  class="btn btn-sm btn-danger"  href="{{d.id}}/hapus-home">Hapus</a>
              <!-- <a  class="btn btn-sm btn-primary" href="/keranjang/add/{{d.id}}">kerjakan</a> -->
            </td>
          </td>
      </tr>
        {% endfor %}
      </table>
    </div>
 </div>
{% endblock %}
